#love{
    font-size: 18px;
    text-align: center;
}
.display-4{
    text-align: center;
}

.jumbotron{
    
    background-color: navy;
    color: white;
    font-weight: bold ;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#searchicon,#clearicon{
    width:20px;
}

