#love{
    font-size: 18px;
    text-align: center;
}
.display-4{
    text-align: center;
}

.jumbotron{
    
    background-color: navy;
    color: white;
    font-weight: bold ;
    font-family: 'Lobster', cursive;
}

#searchicon,#clearicon{
    width:20px;
}



.well{
    text-align: center;
}

#row1,#row2{
    align-content: center;
}

/* .panel{
    text-align: center ;
}

.panelTitle{
    text-align: center ;

} */
